<div class="container">  
    <nav class="navbar navbar-light bg-light">
        <div class="col-md-4">Quản trị người dùng</div>
        <div class="col-md-4 offset-md-2 d-flex flex-row-reverse"  > <a class="btn" (click)="Logout()" class="btn btn-success">Đăng Xuất</a>  </div>
      </nav> 
        <form class="form-horizontal" [formGroup]="UserForm" (ngSubmit)="onSubmit()">  
            <div class="form-group row">  
                <label  class="control-label col-sm-2" for="UserName">Họ tên *</label>   
                <div class="col-sm-10">  
                <input type="text" class="form-control" formControlName="UserName"  />  
                <span *ngIf="UserForm.value.UserName === ''" class="errorMessage">* Tên bắt buộc nhập</span>
                </div>
            </div>  
            <div class="form-group row">  
                <label class="control-label col-sm-2"for="datepicker-start" >Ngày sinh *</label>
                <div class="col-sm-10">  
                <input type="date" class="form-control" id="datepicker-start" (change)="CheckAge()" formControlName="BirthDate" name="BirthDate">
                <span class="errorMessage">{{BirthDateValidate}}</span>
                </div>
            </div>  
            <div class="form-group row">  
                <label class="control-label col-sm-2"for="Gendel">Giới tính</label>
                <div class="col-sm-10">  
                <select class="form-control"  formControlName="Gendel" name="Gendel">
                <option selected value="0">Nam</option>
                <option value="1">Nữ</option>
                <option value="2">Khác</option>
             </select>
                </div>
            </div>  
            <div class="form-group row">  
                <label class="control-label col-sm-2"for="PhoneNumber">Điện thoại *</label>   
                <div class="col-sm-10">  
                <input type="text" class="form-control" (change)="CheckPhoneNumber()" id="PhoneNumber" [ngModel]="UserForm.value.PhoneNumber" formControlName="PhoneNumber" [maxLength]="11" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                <span class="errorMessage">{{PhoneNumberValidate}}</span>
            </div>
            </div>   
            <div class="form-group row">  
                <label class="control-label col-sm-2"for="Email">Email:</label>   
                <div class="col-sm-10">  
                <input type="Email" class="form-control" (change)="CheckEmail()" id="Email" formControlName="Email" email="true"/> 
                <span class="errorMessage">{{EmailValidate}}</span>
                </div>
            </div>  
            <div class="form-group row">  
                <label class="control-label col-sm-2" for="Password">Mật khẩu *</label>  
                <div class="col-sm-10">  
                <input class="form-control" type="password" formControlName="Password" id="Password" />   
                <span *ngIf="UserForm.value.Password === ''" class="errorMessage">* Mật khẩu bắt buộc nhập</span>
                </div>  
            </div>  
            <div class="form-group  row">  
                <label class="control-label col-sm-2" for="PasswordConfirm">Nhập lại mật khẩu *</label>  
                <div class="col-sm-10">   
                <input class="form-control" type="password" (change)="ComparePassword()" formControlName="PasswordConfirm" id="PasswordConfirm" /> 
                <span class="errorMessage"> {{PasswordConfirmValidate}}</span>  
            </div>  
            </div>
            <div class="form-group row">  
                <div class="col-sm-2">  
                </div>  
                <div class="col-sm-4">  
                    <button type="submit" class="btn btn-success">Thêm mới</button>   
                    <button class="btn btn-success" (click)="ReturnIndex()" class="btn btn-success">Về trang quản trị</button>  
                </div>  
            </div>  
        </form>  
    </div>  
     