  <div class="container"> 
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <div class="form-group">
        <label for="name">Tên đăng nhập</label>
        <input type="text" class="form-control" id="username" required [(ngModel)]="username" name="username"/>
        <span *ngIf="username === ''" class="errorMessage">* Cần phải nhập tên</span>
      </div>
  
      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password" />
        <span *ngIf="password === ''" class="errorMessage" >* Cần phải nhập mật khẩu</span>
      </div> 
      <div class="form-group"> 
        <span class="errorMessage"  id="validate" name="validate">{{validate}}</span>
      </div> 
      <div class="form-group"> 
      <button type="submit"class="form-control" class="btn btn-success" [disabled]="!myForm.form.valid">
        Đăng nhập
      </button>
      </div> 
    </form>
  </div>